* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }

.TableHeading {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    text-align: center;
    color: honeydew;
}


.D {
    color: crimson;
}

.R {
    color: green;
}

