
.main{
      margin: 20;
      height: 700;
      width: 650;

}
.logo img{
    margin: 0 0 0 .45em;
    width: 60px;
    height: 50px;
    vertical-align: left
}
.secondary{
      margin: 20;
      height: 700;
      width: 350;
      text-align:center ;
      background-color: brown;   
}