.flex-container{
    height: 80px;
    margin: 0 auto; 
    padding: 5px 10px;
    background-color: #5079A5;
    display: flex;
    align-items: center;
	justify-content: space-between;
    flex-wrap: wrap;
}
.navigation  {
    display: flex;
}

i.fad {
    color: #B03F2A;
    opacity: 0.9;
    margin: 0 0 0 .45em;
    width: 60px;
    height: 50px;
    vertical-align: left
}
ul{ 
    display: flex;
    list-style: none; 
    margin: 0; 
    padding: 0; 
}
li{
    padding: 20px;
    font-size: 1.5em;
    color:#EFEFEF;
}
li a{
    color:#EFEFEF;
    text-decoration: none;
}
button{
  padding: 10px 30px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.17em;
  margin: 4px 2px;
  cursor: pointer;
}

button:hover{
    background: #5079A5;
    border: none;

}