* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

.Categories {
  display: flex;
  width: 10rem;
  /* position: absolute; */
  /* top: 0;
  right: 0; */
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* height: calc(100vh - 56px); */
  height: 700px;
  /* width: 20rem; */
  border-top-left-radius: .5rem;

}

.CatagoryListItem1, .CatagoryListItem2, .CatagoryListItem3 {
    width: 10rem;
    height: 10rem;
    background-color: #D7E1EA;
    border-radius: 1rem;
 
    color: black;
  }

  /* .CatagoryListItem1 h1, .CatagoryListItem2 h1, .CatagoryListItem3 h1 {
    margin: 1rem;
  } */

  
  



  .Text1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  @media only screen and (max-width: 700px) {
    .CatagoryListItem1, .CatagoryListItem2, .CatagoryListItem3 {
      width: 8rem;
      height: 8rem;
      border-radius: 2rem;
      
    }
    .CatagoryListItem1 h1, .CatagoryListItem2 h1, .CatagoryListItem3 h1 {
      font-size: .9rem;
    }
  }