* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

.Categories {
    display: flex;
    justify-content: space-evenly;
    font-family: "Fira Sans";
    font-size: 16px;
    width: 100%;

}

.CatagoryListItem1, .CatagoryListItem2, .CatagoryListItem3 {
    width: 18rem;
    height: 12rem;
    background-color: white;
    border-radius: 1.5rem;
    border: 5px solid rgba(214, 214, 214, 0);
    color: black;
  }

  /* .CatagoryListItem1 h1, .CatagoryListItem2 h1, .CatagoryListItem3 h1 {
    margin: 1rem;
  } */

  
  .CatagoryListItem1 {
    background-image: linear-gradient(135deg, rgb(243, 243, 243) 10%, #f7f7f7 100%);
  }
  
  .CatagoryListItem2 {
    background-image: linear-gradient(135deg, #fc0000 10%, #db0404 100%);
  }
  
  .CatagoryListItem3 {
    background-image: linear-gradient(135deg, #47e707 10%, #45ee02 100%);
  }



  .Text1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  @media only screen and (max-width: 700px) {
    .CatagoryListItem1, .CatagoryListItem2, .CatagoryListItem3 {
      width: 8rem;
      height: 8rem;
      border-radius: 2rem;
      
    }
    .CatagoryListItem1 h1, .CatagoryListItem2 h1, .CatagoryListItem3 h1 {
      font-size: .9rem;
    }
  }