.Btn {
    padding: 5px 15px;
    font-size: 18px;
    border: none;
    margin: 0 auto;
  }
  
  .BtnPrimary {
    color: white;
    border-radius: .5rem;
    background-color: #5079A5;
  }
  
  .ModalCover {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.6);
    z-index: 1040;
    display: none;
  }
  
  .ModalCover.ModalCoverActive {
    display: block;
  }
  
  .ModalContainer {
    z-index: 1050;
    position: fixed;
    border: .5rem solid #5079A5;
    border-radius: 6px;
    background: white;
    width: 600px;
    min-height: 300px;
    left: 50%;
    top: 20%;
    margin-left: -300px;
    display: none;
  }
  
  .ModalContainer.ModalContainerActive {
    display: block;
  }

  .ModalFooter {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(56, 56, 56, 0.137);
    width: 30%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 12px;
    left: 200px;
    top: 50%;  
  }

  .ModalBody {
    margin-top: 2rem;
    z-index: 500;
    padding: 16px;
    width: 100%;
    text-align: center;
    font-size: 21px;

  }

  @media only screen and (max-width: 580px) {
    .ModalContainer{
      z-index: 1050;
      width: 31rem;
      position: fixed;
      left: 50%;
      top: 20%;
      margin-left: -300px;
      transform: translateX(50px);
      display: none;
    }
}