.Btn {
    padding: 5px 15px;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
  }
  
  .BtnPrimary {
    color: white;
    background-color: blue;
  }
  
  .BtnPrimary:hover {
    background-color: darkblue;
  }
  
  .ModalCover {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.6);
    z-index: 1040;
    display: none;
  }
  
  .ModalCover.ModalCoverActive {
    display: block;
  }
  
  .ModalContainer {
    z-index: 1050;
    position: fixed;
    border: 1px solid lightgray;
    border-radius: 6px;
    background: white;
    width: 600px;
    min-height: 300px;
    left: 50%;
    top: 20%;
    margin-left: -300px;
    display: none;
  }
  
  .ModalContainer.ModalContainerActive {
    display: block;
  }