@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.Form {
    border: 3px solid white;
    padding: 5px;
    height: 20px;
    border-radius: 5px;
    outline: none;
    height: 2rem;
    width: 450px;
    padding: 0;
    margin: 1rem;
    background: rgba(255, 255, 255, 0.2);
    font-family: 'Open Sans';
}
.Input {
    height: 100%;
    padding: 0;
    margin: 0;
    color: white;
    background: none;
}

.Input:nth-child(1) {
    width: 70%;
    padding-left: 1rem;
}
.Input:nth-child(2) {
    width: 30%;
    
}

.Input::placeholder {
    color: white;
}