* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }

.SideBar {
    display: flex;
    /* position: absolute; */
    top: 0;
    right: 0;
    flex-direction: column;
    align-content: flex-end;
    justify-content: space-around;
    /* height: calc(100vh - 56px); */
    height: 700px;
    /* width: 20rem; */
    background-color: white;
}

.Section1 h1{
    text-align: center; 
}

.Section1Title {
    display: flex;
    justify-content: space-evenly;   
}

.Section1Stat p {
   text-align: center;
}

.Section2 h1, h3 {
    text-align: center;
}

.Section2Title , .Section2Stat  {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}


.Section2Stat p {
    text-align: center;
}

.Section3 {
    text-align: center;
}

.Section3Title {
    display: flex;
    justify-content: space-evenly;
}

.Link {
    text-align: center;
}

.Container {
    display: flex;
    justify-content: space-evenly;
}

.D {
    color: crimson;
}

.R {
    color: green;
}