.cluster {
    color: #fff;
    background: #547DA0;
    border-radius: 50%;
    background-image: url('/Users/olya/Documents/sei-629/projects/Covid-tracker/covid-tracker-client/public/download.png');
    opacity: 0.4;
   
  }

  /*  padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center; */